@model ListCatsBreedsModel

<form asp-controller="Breeds" asp-action="GetCatByBreed" method="post">
    <div class="Title">
        <h1>Breeds</h1>
    </div>   
    <div class="container breedform1">
        <div>
            <label for="breedId">Select a breed:</label>
        </div>
        <div class="row">
            <div class="col-5 form-group">       
                <select asp-items="@Model.LstBreeds" class="form-select" name="breedId">
                    <option value="Name">select option</option>
                </select>
            </div>
            <div class="col-2">
                <button type="submit" class="btn btn-primary">Search</button>               
            </div>   
            <div>
                  @if (Model.Breeds == null)
                {
                   <div class="alert alert-warning" role="alert">
                       <p style="color: red;">Please select a cat</p>
                   </div>
                    
                }            
            </div>
              
          
             
        </div>
    </div>
</form>


@if (Model.Breeds != null) {
    <h1 style="text-align: center;">@Model.SelectedBreed.First().Breeds.First().Name</h1>
    <form asp-controller="FavoriteCats" asp-action="Add" method="post">
        <div class="form-group">
            <div class="container">
                <div class="row">                 
                    @foreach (var cat in Model.SelectedBreed)
                    {
                        <div class="col-4">
                            <img name="breedImg" class="breedImg" src="@cat.Url"/>              
                            <div class="text-success">
                                <hr>
                            </div>
                        </div>         
                    }       
                    <input type="hidden" name="catId" value="@Model.Id"/>
                    <input type="hidden" name="breedName" value="@Model.SelectedBreed.First().Breeds.First().Name"/>  
                </div>
            </div>
        </div>
        @if (User.Identity.IsAuthenticated)
            {
                <div class="botonOption">
                    <button type="submit" class="btn btn-primary"  name="user" value="@User.Identity.Name">Add To Favorite</button>
                </div>               
            }else{
                <div class="alert alert-warning" role="alert">
                    Please <a href="/Identity/Account/Login">log in</a> or <a href="/Identity/Account/Register">register</a> to add cats to your favorite list.
                </div>
            }
        <div class="container catInfo">
            <div>
                <p >@Model.SelectedBreed.First().Breeds.First().Description</p>
                <p>Temperament: @Model.SelectedBreed.First().Breeds.First().Temperament</p>
            </div>
            <div class="row catinfolower">
                <div class="col-6">             
                    <p>Country: @Model.SelectedBreed.First().Breeds.First().Country_codes</p>
                    <p>Life Span: @Model.SelectedBreed.First().Breeds.First().Life_span</p>
                    <p>Indoor: @Model.SelectedBreed.First().Breeds.First().Indoor</p>
                    <p>Adaptability: @Model.SelectedBreed.First().Breeds.First().Adaptability</p>
                    <p>Affection Level: @Model.SelectedBreed.First().Breeds.First().Affection_level</p>
                    <p>Child Friendly: @Model.SelectedBreed.First().Breeds.First().Child_friendly</p>
                    <p>Dog Friendly: @Model.SelectedBreed.First().Breeds.First().Dog_friendly</p>
                    <p>Energy Level: @Model.SelectedBreed.First().Breeds.First().Energy_level</p>
                </div>
                <div class="col-6">               
                    <p>Grooming: @Model.SelectedBreed.First().Breeds.First().Grooming</p>
                    <p>Health Issues: @Model.SelectedBreed.First().Breeds.First().Health_issues</p>
                    <p>Intelligence: @Model.SelectedBreed.First().Breeds.First().Intelligence</p>
                    <p>Experimental: @Model.SelectedBreed.First().Breeds.First().Experimental</p>
                    <p>Natural: @Model.SelectedBreed.First().Breeds.First().Natural</p>
                    <p>Rare: @Model.SelectedBreed.First().Breeds.First().Rare</p>
                    <p>Rex: @Model.SelectedBreed.First().Breeds.First().Rex</p>
                    <p>Suppressed: @Model.SelectedBreed.First().Breeds.First().Suppressed_tail</p>   
                </div>
            </div>  
        </div>
    </form>
    @if (@Model.SelectedBreed.First().Breeds.First().Cfa_url != null || @Model.SelectedBreed.First().Breeds.First().Vetstreet_url != null || @Model.SelectedBreed.First().Breeds.First().Vcahospitals_url != null)
    {
        <div>
            <h3>More Information</h3>
            <a href="@Model.SelectedBreed.First().Breeds.First().Cfa_url">@Model.SelectedBreed.First().Breeds.First().Cfa_url</a><br/>
            <a href="@Model.SelectedBreed.First().Breeds.First().Vetstreet_url">@Model.SelectedBreed.First().Breeds.First().Vetstreet_url</a><br/>
            <a href="@Model.SelectedBreed.First().Breeds.First().Vcahospitals_url">@Model.SelectedBreed.First().Breeds.First().Vcahospitals_url</a>
        </div>   
    }        
    
}
                

